altgraph==0.17.3
attrs==22.2.0
coverage==7.1.0
flake8==6.0.0
iniconfig==2.0.0
mccabe==0.7.0
packaging==23.0
pluggy==1.0.0
pycodestyle==2.10.0
pyflakes==3.0.1
pyinstaller==5.7.0
pyinstaller-hooks-contrib==2022.15
pytest==7.2.1
pytest-cov==4.0.0
yapf==0.32.0
